/* ------------------------------------ */
/* Custom Properties  					*/
/* ------------------------------------- */

:root {
	/* colors */
	--clr-dark: #1f2937;
	--clr-gray: #e5e7eb;
	--clr-light: #f9faf8;
	--clr-accent: #3882f6;

	--fs-700: 3rem;
	--fs-600: 2.25rem;
	--fs-500: 1.5rem;
	--fs-400: 1.125rem;

	--ff-sans: 'Roboto', sans-serif;
}


/* ------------------------------------ */
/* 				Reset  					 */
/* ------------------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}


/* set up the body */
body {
	font-family: var(--ff-sans);
	font-size: var(--fs-400);
	background-color: var(--clr-light);
	color: var(--clr-dark);
	line-height: 1.5;
	min-height: 100vh;

	overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* make form elements easier to work with */
input, 
button,
textarea,
select {
	font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}


